In [14]:
import pandas as pd

%run utils.py

In [12]:
%time df = pd.read_csv('data/yellow_tripdata_2009-01_test.csv')

CPU times: user 4.87 s, sys: 570 ms, total: 5.44 s
Wall time: 5.48 s

In [17]:
df.head()

,duration,Trip_Distance,Start_Lon,Start_Lat,End_Lon,End_Lat,week_0,week_1,week_2,week_3,...,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23,start_lon_raw,start_lat_raw,end_lon_raw,end_lat_raw
0,300.0,-0.265036,-0.600812,-0.214163,-0.739884,-0.961962,0,0,0,0,...,0,0,0,0,0,0,-73.992635,40.748362,-73.995585,40.728307
1,739.0,-0.411026,0.370949,-0.178940,-0.019851,0.218675,0,1,0,0,...,0,0,0,0,0,0,-73.969387,40.749159,-73.976872,40.758792
2,442.0,-0.411026,0.818415,1.322792,0.578054,0.586712,1,0,0,0,...,1,0,0,0,0,0,-73.958682,40.783139,-73.961333,40.768295
3,960.0,1.003253,-0.516251,-0.810082,1.366615,-1.343592,0,0,0,0,...,0,0,0,0,0,0,-73.990612,40.734878,-73.940839,40.718453
4,394.0,-0.274160,-0.171194,-0.580138,-0.547264,0.124720,0,0,0,0,...,0,0,0,0,0,0,-73.982357,40.740081,-73.990579,40.756366

In [15]:
df = unnormalize(df)

In [16]:
df_tues8am = df[(df.week_1 == 1) & (df.hour_8 == 1)]

In [21]:
df_tues8am = df_tues8am.loc[:,('duration', 'start_lat_raw', 'start_lon_raw', 'end_lat_raw', 'end_lon_raw')]

In [22]:
df_tues8am = df_tues8am[(df_tues8am.duration > 120) & (df_tues8am.duration < 7200)]

In [25]:
df_tues8am.reset_index(inplace=True, drop=True)

In [28]:
df_tues8am.to_csv('data/gmaps_test.csv', index=False)