In [1]:
%run utils.py
# chunks = pd.read_csv('data/yellow_tripdata_2009-01_train.csv', chunksize=100000)

In [2]:
df = pd.read_csv('data/yellow_tripdata_2009-01_test.csv')

In [3]:
df.head()

,duration,Trip_Distance,Start_Lon,Start_Lat,End_Lon,End_Lat,week_0,week_1,week_2,week_3,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,300.0,-0.265036,-0.600812,-0.214163,-0.739884,-0.961962,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,739.0,-0.411026,0.370949,-0.178940,-0.019851,0.218675,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,442.0,-0.411026,0.818415,1.322792,0.578054,0.586712,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,960.0,1.003253,-0.516251,-0.810082,1.366615,-1.343592,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,394.0,-0.274160,-0.171194,-0.580138,-0.547264,0.124720,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df = rotate_manhattan(filter_manhattan(unnormalize(df)))

/Users/franciscorivera/Documents/Francisco/Harvard/07 Junior Fall/CS 281/final-project/utils.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_x'] = (starts[:, 0] + 84.125113) / 0.005
/Users/franciscorivera/Documents/Francisco/Harvard/07 Junior Fall/CS 281/final-project/utils.py:124: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['start_y'] = (starts[:, 1] + 7.853407) / 0.005
/Users/franciscorivera/Documents/Francisco/Harvard/07 Junior Fall/CS 281/final-project/utils.py:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['end_x'] = (ends[:, 0] + 84.125113) / 0.005
/Users/franciscorivera/Documents/Francisco/Harvard/07 Junior Fall/CS 281/final-project/utils.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['end_y'] = (ends[:, 1] + 7.853407) / 0.005

In [5]:
df.head()

,duration,Trip_Distance,Start_Lon,Start_Lat,End_Lon,End_Lat,week_0,week_1,week_2,week_3,...,hour_22,hour_23,start_lon_raw,start_lat_raw,end_lon_raw,end_lat_raw,start_x,start_y,end_x,end_y
0,300.0,-0.265036,-0.600812,-0.214163,-0.739884,-0.961962,0,0,0,0,...,0,0,-73.992635,40.748362,-73.995585,40.728307,3.065135,10.134181,4.827980,6.483345
1,739.0,-0.411026,0.370949,-0.178940,-0.019851,0.218675,0,1,0,0,...,0,0,-73.969387,40.749159,-73.976872,40.758792,6.823909,12.875678,4.503622,13.630041
2,442.0,-0.411026,0.818415,1.322792,0.578054,0.586712,1,0,0,0,...,0,0,-73.958682,40.783139,-73.961333,40.768295,4.781677,19.702008,6.009085,16.947311
4,394.0,-0.274160,-0.171194,-0.580138,-0.547264,0.124720,0,0,0,0,...,0,0,-73.982357,40.740081,-73.990579,40.756366,5.695986,9.917126,2.507022,11.689866
5,547.0,-0.091673,-0.023599,1.061381,0.038058,0.156865,1,0,0,0,...,1,0,-73.978826,40.777224,-73.975367,40.757196,2.111199,16.461751,4.931894,13.534790

In [6]:
M, N = 40, 140

for hour in tqdm(range(24)):
    for day in range(7):
        filename = 'data/split_test/JC_week{}_hour{}_test_40x140.csv'.format(day, hour)
        df['sx'] = np.clip(np.round(M/10 * df['start_x'] ), 0, M-1) 
        df['sy'] = np.clip(np.round(M/10 * df['start_y'] ), 0, N-1) 
        df['tx'] = np.clip(np.round(M/10 * df['end_x'] ), 0, M-1) 
        df['ty'] = np.clip(np.round(M/10 * df['end_y'] ), 0, N-1) 
        df.loc[(df['duration'] < 3600 * 2) & (df['duration'] > 120) &
               (df['week_{}'.format(day)] == 1) & (df['hour_{}'.format(hour)] == 1),
               ['duration','sx','sy','tx','ty']].to_csv(filename, index=False)

HBox(children=(IntProgress(value=0, max=24), HTML(value='')))